* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	top: 0;
	text-decoration: none;
	list-style: none;
}
:root {
	/*Custom properties*/
	--golden-01: #ffff;
	--golden-02: #fbf5e4;
	--golden-03: #f5ebca;
	--golden-04: #efe2af;
	--golden-05: #dccd93;
	--golden-06: #bcae75;
	--golden-07: #9c9059;
	--golden-08: #e1dbc8;
	--grey-01: #9c9c9f;
	--grey-02: #7d7d80;
	--grey-03: #444446;
	--grey-04: #303031;
	--grey-05: #222223;
	--grey-06: #151515;
	--black-01: 3636363;
	--black-02: #474747;
	--black-03: #2d2d2d;
	--black-04: #141414;
	--black-05: #020202;
	--white-01: rgb(229, 229, 229);
	--red-01: #a41f10;
	--red-02: rgb(220, 53, 69);
	--red-03: #ff4081;
}

/** Fuentes */
.montserrat {
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

.bebas-neue-regular {
	font-family: 'Bebas Neue', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.pt-serif-bold {
	font-family: 'PT Serif', serif;
	font-weight: 700;
	font-style: normal;
}

.roboto-serif {
	font-family: 'Roboto Serif', serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-variation-settings: 'width' 100, 'GRAD' 0;
}

html {
	font-size: 62.5%;
}

body{
	font-size: 16px;
}

h1 {
	font-family: 'roboto-serif';
	font-size: 1.5rem;
	font-optical-sizing: auto;
	font-style: normal;
	color: var(--golden-02);
}
h2 {
	font-family: 'roboto-serif';
	font-size: 1.4rem;
	font-optical-sizing: auto;
	font-style: normal;
	color: var(--golden-02);
}
h3 {
	font-family: 'roboto-serif';
	font-size: 1.3rem;
	font-optical-sizing: auto;
	font-style: normal;
	color: var(--golden-08);
}
span {
	font-family: 'Roboto Serif', serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
	font-variation-settings: 'width' 100, 'GRAD' 0;
	font-size: 1.3rem;
	color: var(--red-03);
}



/*? Contenedor Grid */
.grid-container > * {
	box-shadow: 10px 6px 37px -13px rgba(51, 51, 51, 0.74);
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	font-weight: 500;
}
.grid-container {
	display: grid;
	gap: 5px;
	padding: 5px;
	grid-template:
		'navbar' 50px       
		'header' auto        
		'aside' auto        
		'main' auto
		'sidebar' auto
		'footer' auto;
}
/*TODO BARRA DE IDIOMAS */

.navbar {
	grid-area: navbar;
	background-color: blue;

	position: inherit;
	display: flex;
	align-items: end;
	top: 0;
	width: 100%;
	justify-content: flex-end;
	padding: 0px;
}

.flags-container {
	display: flex;
	position: relative;
}

.flag {
	display: flex;
	width: 32px;
	height: 32px;
	margin: 10px 10px;
	align-items: center;
	justify-content: center;
}

.split {
	display: flex;
	font-size: 24px;
	font-weight: bold;
	align-items: center;
	justify-content: center;
	color: var(--golden-08);
}

/*TODO COVER CON LOGO */
.header {
	grid-area: header;
	background-color: rgba(179, 46, 241, 0.74);

	position: relative;
	width: 100%;
	height: auto;
}

.cover {
	width: auto;
	height: 100%;
	object-fit: cover;
}
.cover-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*TODO SECCIÓN ASIDE HORARIOS  */
.aside {
	grid-area: aside;
	background-color: rgba(77, 237, 106, 0.74);

	position: relative;
	width: 100%;
	height: auto;
}

.aside-content {
	padding: 1rem;
}

.container {
	background-image: url(images/bg-2.png);
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.aside-dir {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.dir {
	margin-bottom: 1rem;
	text-align: center;
}


/*TODO SECCION SLOGAN */
.main {
	grid-area: main;
	background-color: black;

	position: relative;
	width: 100%;
	height: auto;
}

.main-content {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.slogan h1, h2 {
	text-align: center;
	color: var(--black-05);
}

.contmain{
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	background-image: radial-gradient(var(--golden-05), transparent);
	border-radius: 1rem;
}

/*TODO LISTA DE PRECIOS */
.sidebar {
	grid-area: sidebar;
	background-color: greenyellow;

	display: flex;
   	position: relative;
	width: 100%;	
	height: auto;
}

 .prices {
	display: flex;
	position: relative;
	width: 100%;
	height: auto;
} 

.prices-1 {
	width: 50%;
	padding: 1rem;
	background-color: var(--golden-01);
	/* border-radius: 200px; */
}

.prices-1 h2 {
	color: var(--black-04);
}

.prices-1 em {
	color: var(--black-03);
} 

table {
	margin: 1rem 0;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

tr {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #afafaf;
	margin-bottom: 2rem;
}

th {
	color: var(--black-03);
	padding-bottom: 1.5rem;
}

td {
	color: #cf2d3a;
}

 .prices-2 {
	width: 50%;
	background-image: url(images/articulo02.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	
} 


/*TODO FOOTER */

.footer {
	grid-area: footer;
	background-color: rgba(237, 123, 0, 0.74);

	position: relative;
	width: 100%;
	height: auto;
}
.footer-bg {
	background-image: url(./images/bg-2.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding: 5rem 0;
}

.whatsapp-container {
	bottom: 2rem;
	right: 2rem;
	z-index: 1000;
}

.whatsapp-button img {
	width: 5rem;
	height: 5rem;
}

 .footer-tx {
	text-align: center;
	padding: 1rem;
	background-color: #070707;
} 


/*TODO SIN SERVICIOS  */
/* .section-01 {
	grid-area: section-01;
	background-color: rgba(237, 123, 67, 0.74);
} */

/* .section-02 {
	grid-area: section-02;
	background-color: rgba(100, 123, 67, 0.74);
} */

/* .section-03 {
	grid-area: section-03;
	background-color: rgba(237, 123, 67, 0.74);
} */

/* .section-04 {
	grid-area: section-4;
	background-color: rgba(100, 123, 67, 0.74);
} */


































/** Media Query tablets 768px*/
@media (min-width: 768px) {
	.grid-container {
		background-color: greenyellow;
		grid-template-columns: repeat(3, 1fr); 
		padding: 10px;
		grid-template-rows: 50px 85vh 200px 300px 300px 50px;
		grid-template-areas:
			'navbar navbar navbar'
			'header header header'
			'aside aside aside'
			'main main main'
			'sidebar sidebar sidebar'
			'footer footer footer';
	}
}

/** Media Query Desktop 992px */
@media (min-width: 992px) {
	.grid-container {
		background-color: greenyellow;
		grid-template-columns: repeat(auto-fit, minmax(3, 1fr));
		padding: 10px;
		grid-template-rows: 40px 85vh 20rem 20rem 35rem 10rem;
		grid-template-areas:
			'navbar navbar navbar'
			'header header header'
			'aside aside aside'
			'main main main'
			'sidebar sidebar sidebar'
			'footer footer footer';
	}

	
	.aside {
		grid-area: aside;
		background-color: rgba(77, 237, 106, 0.74);
	
		position: relative;
		width: 100%;
		height: auto;
	}
	
	.aside-content {
		padding: 4rem;
	}
	
	.container {
		background-image: url(images/bg-2.png);
		max-width: 100%;
		height: 100%;
		margin: 0 auto;
	}
	
	.aside-dir {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		
	}
	.dir {
		margin-bottom: 1rem;
		text-align: center;
	}

	

	.dir h3{
			font-size: x-large;
	}
	.dir {

	}
	/* .main {
		grid-area: main;
		background-color: black;
	
		position: relative;
		width: 100%;
		height: auto;
	} */
	
	.main-content {
		padding: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	.slogan h1, h2 {
		text-align: center;
		color: var(--black-05);
		font-size: x-large;
	}
	
	.contmain{
		max-width: 100%;
		height: auto;
		margin: 0 auto;
		background-image: radial-gradient(var(--golden-05), transparent);
		border-radius: 1rem;
	}



































/** Media Query Monitores */
/* @media (min-width: 1200px) {
	.grid-container {
		background-color: greenyellow;
		grid-template-columns: repeat(auto-fit, minmax(3, 1fr));
		padding: 10px;

		grid-template-rows: 40px 85vh 400px 400px 300px 100px;
		grid-template-areas:
			'navbar navbar navbar'
			'header header header'
			'aside aside aside'
			'sidebar sidebar main'
			'section-01 section-02 section-03'
			'footer footer footer';
	}
} */

